
<!-- CSS -->


<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Kick &middot; about</title>
    <link rel="shortcut icon" href="https://dl.dropboxusercontent.com/u/10455351/Assets/browser_icon.ico">
    <script src="js/bootstrap.min.js"></script>
    <script src='../js/Chart.js'></script>
    <script src="//www.parsecdn.com/js/parse-1.3.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 
    </head>

<!-- CSS -->
<!--==============================================-->
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/kick.css" rel="stylesheet">


<!-- Google Fonts -->
<!--==============================================-->

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,500,700,900|Merriweather' rel='stylesheet' type='text/css'>


<!-- Font Awesome -->
<!--==============================================-->

<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>



<!-- Body begins -->
<!--==============================================-->

  <body>
    
<!-- Navbar -->
<!--==============================================-->

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-options="scrolltop: false">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.runwithkick.com"> <img src="https://dl.dropboxusercontent.com/u/10455351/Assets/kick%20white%20small2.png"/></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li class="active"><a href="index.html">Home</a></li>-->

            <li><a href="http://blog.runwithkick.com">Blog</a></li>
            <li><a href="http://runwithkick.com/about">About</a></li>
            <li><a href="https://www.strava.com/athletes/jonathansmith" target="_blank" title="Strava"><img src="https://dl.dropboxusercontent.com/u/10455351/Assets/strava1.png"/></a></li>
            <li><a href="http://www.twitter.com/runwithkick" target="_blank" title="Twitter"><i class="fa fa-twitter social-icons"></i></a></li>
            <li><a href="https://www.facebook.com/runwithkick" target="_blank" title="Facebook"><i class="fa fa-facebook social-icons"></i></a></li>
            <!--<li><a href="https://www.instagram.com/jonathan5mith" target="_blank" title="Instagram"><i class="fa fa-instagram social-icons"></i></a></li>-->

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<!-- Sub navbar - picture, text container & text-->
<!--==============================================-->
  
<div class="sub-navbar3">
<div class="text-container2">
      <!--<p class="line1">About Me</p>-->
    </div> 
</div>

<!-- Main page content-->
<!--==============================================-->


<div class="maincontain-about">

<!-- Row 1-->

  <div class="row coltext1">
    
<!-- Column 1-->

  <div class="col-md-3" >

    <p class="maincontent1"><img src="https://dl.dropboxusercontent.com/u/10455351/Assets/family.png" height="120px"></p>
   
  </div>

<!-- Column 2-->

  <div class="col-md-9 ">

    <p class="maincontent1">Hi I'm Jon and I make Kick. I love running, and love making new things, so it just kind of worked out. Much more importantly though, I also have an amazing family who let me do all this! </p>
 
  </div>
  </div>

<!-- Row 2-->

<div class="row coltext1">
    
<!-- Column 1-->



<!-- Column 2-->

  <div class="col-md-3 ">

    <p class="maincontent1"><img src="https://dl.dropboxusercontent.com/u/10455351/Assets/boxing.png" height="120px"></p>

 
  </div>

  <div class="col-md-9">
       <p class="maincontent1">In real life I'm a project manager and recently became a sport scientist too. I'm working in the NHS at the moment, but do the odd bit of work for some GB sports (boxing at the moment)</p>
  </div>

</div>


<div class="row coltext1">
    
<!-- Column 1-->

  <div class="col-md-3">
    <p class="maincontent1"><img src="https://dl.dropboxusercontent.com/u/10455351/Assets/geek.png" height="120px"></p>
   
  </div>

<!-- Column 2-->

  <div class="col-md-9 ">

    <p class="maincontent1">I'm definitely a geek at heart, and last year I taught myself to code. I've loved every minute of it, and it's allowed me to build Kick pretty much all by myself!</p>
 
  </div>
</div>

<!-- Row 4-->

<div class="bitopadding">
<div class="row coltext">
    
<!-- Column 1-->
<div class="col-md-12">
    <!--<div class="col-md-3">-->
    <img src="https://dl.dropboxusercontent.com/u/10455351/Assets/last5weeks.png" height="120px">
        <p class="maincontent2">Every week I post my mileage below. You can check out my <a href="https://www.strava.com/athletes/jonathansmith">Strava profile</a> too</p>
</div>
</div>
</div>

<div class="row coltext1">
    
<div class="col-md-6 ">
    <div id="chartsholder">
      <canvas id="buyers" width="400" height="150"></canvas>
      <p class="maincontentnopadding">Last 5 weeks</p>
    </div>
</div>
<div class="col-md-6 ">
    <div id="chartsholder">
      <canvas id="buyers1" width="400" height="150"></canvas>
      <p class="maincontentnopadding">Last week</p>
    </div>
</div>
</div>


</div>









<!-- Bottom Navbar-->
<!--==============================================-->


<div class="bottomnav">
  <p>© 2015 Jonathan Smith</p>
</div>




<!-- Javascript Stuff-->
<!--==============================================-->



<!--Bootstrap-->

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>


<!-- Parse-->
<!--==============================================-->
  
<script type="text/javascript">

// -----------------Chart 1 - weekly

var weekly = [0,0,3,21.2,11.6];
var daily = [0,0,3.9,3.7,3.9,0,0];

var weeklylabels = ["0","0","3","21.2","11.6"];
var dailylabels = ["0", "0", "3.9", "3.7", "3.9", "0", "0"];


    var buyerData = {
    labels : weeklylabels,
    datasets : [
      {
      strokeColor : "rgba(100,100,100,.9)",
      pointColor : "rgba(100,100,100,1)",
      pointStrokeColor : "rgba(100,100,100,.9)",
      pointHighlightFill: "#f1f1f1",
      pointHighlightStroke: "rgba(100,100,100,1)",
      data : weekly,
      }
  ]
}
    var buyers = document.getElementById('buyers').getContext('2d');
    buyers.canvas.width = 240;
    buyers.canvas.height = 130;
    new Chart(buyers).Line(buyerData,{
      scaleShowGridLines : false,
      scaleFontColor:"rgba(100,100,100,0)",
      scaleLineColor: "rgba(100,100,100,0)",
      tooltipTemplate: "<%= label %>",
      tooltipFillColor: "rgba(100,100,100,0.8)",
      tooltipFontSize: 11,
      tooltipCornerRadius: 3,
      pointDotRadius : 6,
      tooltipFontFamily: "'Lato', sans-serif",
      animation:false,
      pointHighlightFill: "white"
        
    });

// -----------------Chart 2 - daily

var data = {
    labels: dailylabels,
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(100,100,100,1)",
            strokeColor: "rgba(100,100,100,1)",
            highlightFill: "#f1f1f1",
            highlightStroke: "rgba(100,100,100,1)",
            data: daily
        },
        
    ] 
};

    var buyers1 = document.getElementById('buyers1').getContext('2d');
    buyers1.canvas.width = 240;
    buyers1.canvas.height = 130;
    new Chart(buyers1).Bar(data,{
      scaleShowGridLines : false,
      scaleFontColor:"rgba(100,100,100,0)",
      scaleLineColor: "rgba(100,100,100,0)",
      tooltipTemplate: "<%= label %>",
      tooltipFillColor: "rgba(100,100,100,0.8)",
      tooltipFontSize: 11,
      tooltipCornerRadius: 3,
      pointDotRadius : 6,
      tooltipFontFamily: "'Lato', sans-serif",
      animation:false,
      pointHighlightFill: "white"
        
    });


</script>



</script>

<!--Browser Warning.js-->
<!--==============================================-->

<script> 
var $buoop = {c:2}; 
function $buo_f(){ 
 var e = document.createElement("script"); 
 e.src = "//browser-update.org/update.js"; 
 document.body.appendChild(e);
};
try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
catch(e){window.attachEvent("onload", $buo_f)}
</script> 
  


</body>
</html>

  </body>
</html>
